<div class="row justify-content-between">
  <div class="mb-3 col-12 col-lg-7">
    <div class="row justify-content-between">
      <div class="col-7">
        <p>Turma: ADS0303N</p>
        <p>Turno: Noite</p>
        <p>Bonsucesso</p>
      </div>

      <div class="col-3">
        <div class="row justify-content-end">
          <img src="assets/eu.png" class="" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="row">
      <p class="text-center">Nome:Ariel Alves Carvalho</p>
    </div>
  </div>
</div>
